<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' type='text/css'>

	<title>Data Cleanup with Buttons</title>

</head>
<body>

	<h1>Subway Entrances</h1>

	<nav>
		<div class="button" data-subway="1">1</div>
		<div class="button" data-subway="2">2</div>
	<!-- 	<div class="button" id="3">3 Line</div> -->
		<div class="button" data-subway="A">A</div>
		<div class="button" data-subway="B">B</div>
	</nav>

	<div id = "canvas"></div>

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/d3.v3.min.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/main.js"></script>

	<script id="template" type="text/jst">
		<div class="entrance_container">
			<div class="lines">
				<% linelist.forEach(fuction(line){ %>
					<div class="line" data-subway="<%= line %>">
						<%= line%>
					</div>
				<% }); %>
			</div>
		</div>

</body>
</html>